<% include ../../../partials/head %>

    <section class="container">
        <header>
            <h1>Dashboard</h1>
        </header>

        <ul class="collection">
            <li class="collection-item">Categorias
                <a href="/admin/dashboard/categorias">
                    <span class="new badge" data-badge-caption="adicionar">
                        <i class="material-icons right">create</i>
                    </span>
                </a>
            </li>
            <li class="collection-item">
                <ul class="collection">
                    <% categorias.forEach(cat => { %>
                        <li class="collection-item"><%= cat.name %></li>
                    <% }) %>
                </ul>
            </li>

            <li class="collection-item">Vagas
                <a href="/admin/dashboard/vagas">
                    <span class="new badge" data-badge-caption="adicionar">
                        <i class="material-icons right">create</i>
                    </span>
                </a>
            </li>
            <li class="collection-item">
                <ul class="collection">
                    <% vagas.forEach(vaga => { %>
                        <li class="collection-item"><%= vaga.titulo %>
                            <a href="/admin/dashboard/vagas/delete/<%= vaga.id %>" onclick="app.remove(event)" >
                                <span class="new badge" data-badge-caption="remover">
                                    <i class="material-icons right">delete</i>
                                </span>
                            </a>
                            <a href="/admin/dashboard/vagas/<%= vaga.id %>">
                                <span class="new badge" data-badge-caption="editar">
                                    <i class="material-icons right">create</i>
                                </span>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </li>
        </ul>
    </section>

<% include ../../../partials/footer %>