<% include ../../../partials/head %>

    <section class="container">
        <header>
            <h1>Cadastrar nova categoria</h1>
            <a href="javascript: window.history.go(-1)" class="btn">Voltar</a>
        </header>

        <form method="POST">
            <fieldset>
                <div class="input-field">
                    <input id="titulo" name="titulo" type="text" class="validate" placeholder="Digite o título aqui" />
                    <label class="active" for="titulo">Título</label>
                </div>
            </fieldset>

            <fieldset>
                <button type="submit" class="btn waves-effect waves-light" type="submit" name="action">Cadastrar</button>
                <button type="button" class="btn waves-effect waves-light" type="submit" name="action">Limpar</button>
            </fieldset>
        </form>
    </section>

<% include ../../../partials/footer %>